{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    ثبت نام
{% endblock title %}

{% block content %}
    <div class="container mx-auto">
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto" style="border: 1px #ccc solid; padding: 2%; border-radius: 25px;">
            <h1 style="text-align: center;">ثبت نام</h1>
            <hr>
            <form action="" method="POST">
            {{form|crispy}}
            {% csrf_token %}
            <div style="margin-bottom: 5%;" class="text-center">
                <button type="submit" class="btn btn-primary">ثبت نام</button>
                <a href="{% url 'pages:home' %}" class="btn btn-primary">بازگشت</a>
            </div>
            </form>
        </div>
    </div>
{% endblock content %}